/* Projet n°2 Openclassrooms : Transformer une maquette en page WEB html5 + css */

/* Police Raleway */
@font-face {
  font-family: "ralewayblack";
  src: url("Raleway/raleway-black-webfont.eot");
  src: url("Raleway/raleway-black-webfont.woff"),
    url("Raleway/raleway-black-webfont.woff2"),
    url("Raleway/raleway-black-webfont.ttf"),
    url("Raleway/raleway-black-webfont.svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ralewaymedium";
  src: url("Raleway/raleway-medium-webfont.eot");
  src: url("Raleway/raleway-medium-webfont.woff"),
    url("Raleway/raleway-medium-webfont.woff2"),
    url("Raleway/raleway-medium-webfont.ttf"),
    url("Raleway/raleway-medium-webfont.svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ralewaylight";
  src: url("Raleway/raleway-light-webfont.eot");
  src: url("Raleway/raleway-light-webfont.woff"),
    url("Raleway/raleway-light-webfont.woff2"),
    url("Raleway/raleway-light-webfont.ttf"),
    url("Raleway/raleway-light-webfont.svg");
  font-weight: normal;
  font-style: normal;
}

/* Eléménts principaux de la page */
Body {
  width: 1440px;
  margin: 50px;
  margin-top: 0;
  font-family: "ralewaymedium", Times New Roman, Arial, Verdana, Geneva, Tahoma,
    sans-serif;
}

ul {
  list-style-type: none;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1em;
  margin-right: 25px;
}
h3 {
  font-size: 1em;
}
p {
  font-size: 0.9em;
}

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 100px;
  height: 30px;
}
nav a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 20px;
}
header li {
  display: inline-block;
  margin: 40px;
}
nav {
  float: right;
  margin-right: 75px;
  font-size: 1em;
}
.inscrire {
  color: #0065fc;
  font-weight: bold;
}

/* localisation et rechercher */
#containerlocal {
  display: flex;
  align-self: center;
  height: 50px;
}
.fa-map-marker-alt {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 17px 0 0 17px;
  max-width: 50px;
  padding: 16px 19px 16px 18px;
}
#city {
  border: 1px solid #f2f2f2;
  font-weight: bold;
  font-size: 20px;
  width: 235px;
  padding: 2px;
  padding-left: 20px;
  cursor: text;
}
#search {
  color: white;
  font-size: 20px;
  width: 133px;
  border: 1px solid #0065fc;
  background-color: #0065fc;
  border-radius: 0 17px 17px 0;
  cursor: grab;
}

/* filtres */
#containerfilter {
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: bold;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.filter {
  display: flex;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-left-style: none;
  border-radius: 25px;
  margin-right: 25px;
}
.filtericons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #deebff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.icons {
  color: #0065fc;
}
.filtertext {
  margin: 0 10px;
}

.filter:hover {
  transform: scale(1.1);
  background-color: #deebff;
  border: 1px solid #0065fc;
  border-left-style: none;
  cursor: pointer;
}
.fa-info {
  color: #0065fc;
  border: 1px solid #0065fc;
  padding: 8px;
  border-radius: 100%;
  width: 12px;
  text-align: center;
  margin-bottom: 40px;
}

/* icones */
.fa-chart-line {
  color: black;
}

/* footer */
footer {
  display: flex;
  background-color: #f2f2f2;
  padding: 50px;
  align-items: baseline;
}
#about {
  width: 32%;
}
#housing {
  width: 24%;
}
#assistance {
  width: 17.5%;
}

/* liens */
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
