/* Projet n°2 Openclassrooms : Transformer une maquette en page WEB html5 + css */

/* Police Raleway */
@font-face {
  font-family: "ralewayblack";
  src: url("Raleway/raleway-black-webfont.eot");
  src: url("Raleway/raleway-black-webfont.woff"),
    url("Raleway/raleway-black-webfont.woff2"),
    url("Raleway/raleway-black-webfont.ttf"),
    url("Raleway/raleway-black-webfont.svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ralewaymedium";
  src: url("Raleway/raleway-medium-webfont.eot");
  src: url("Raleway/raleway-medium-webfont.woff"),
    url("Raleway/raleway-medium-webfont.woff2"),
    url("Raleway/raleway-medium-webfont.ttf"),
    url("Raleway/raleway-medium-webfont.svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ralewaylight";
  src: url("Raleway/raleway-light-webfont.eot");
  src: url("Raleway/raleway-light-webfont.woff"),
    url("Raleway/raleway-light-webfont.woff2"),
    url("Raleway/raleway-light-webfont.ttf"),
    url("Raleway/raleway-light-webfont.svg");
  font-weight: normal;
  font-style: normal;
}

/* Eléménts principaux de la page */
#blocpage {
  max-width: 100%;
}
Body {
  margin: 0;
  margin-top: 0;
  font-family: "ralewaymedium", "Times New Roman", Verdana, Tahoma, sans-serif;
}
h2 {
  font-size: 1.2rem;
  margin-right: 25px;
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.9rem;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}
header img {
  padding-top: 40px;
}
nav {
  display: flex;
  font-size: 1rem;
  padding-top: 40px;
}
.link1,
.link2 {
  margin-right: 75px;
}
.inscrire {
  margin-right: 75px;
}
.inscriretext {
  color: #0065fc;
  font-weight: 600;
}
nav a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 30px;
}

/* Main Description*/
main {
  margin-top: 40px;
}
h1 {
  font-size: 1.6rem;
  margin-left: 50px;
}
main p {
  margin-left: 50px;
}
/* localisation et rechercher */
#containerlocal {
  display: flex;
  align-self: center;
  height: 50px;
  margin: 20px 50px;
}
.fa-map-marker-alt {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 17px 0 0 17px;
  max-width: 50px;
  padding: 16px 19px 16px 18px;
}
#city {
  border: 1px solid #f2f2f2;
  font-weight: bold;
  font-size: 1.2rem;
  width: 235px;
  padding: 2px;
  padding-left: 20px;
  cursor: text;
}
input::placeholder {
  color: gray;
  opacity: 0.5;
}
button {
  color: white;
  font-size: 1.2rem;
  width: 133px;
  border: 1px solid #0065fc;
  background-color: #0065fc;
  border-radius: 0 17px 17px 0;
  cursor: grab;
}
.fa-search {
  display: none;
  opacity: 0;
  position: absolute;
}

/* Filtres */
#containerfilter {
  margin-bottom: 20px;
  font-weight: bold;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin-left: 50px;
}
.filter {
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-left-style: none;
  border-radius: 25px;
  margin-left: 40px;
}
.filtericons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #deebff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-left: -1px;
}
.icons {
  color: #0065fc;
}
.filtertext {
  margin: 0 15px;
  font-size: 1.2rem;
}
.filter:hover {
  transform: scale(1.1);
  background-color: #deebff;
  border: 2px solid #0065fc;
  border-left-style: none;
  cursor: pointer;
}
.fa-info {
  color: #0065fc;
  border: 1px solid #0065fc;
  padding: 8px;
  border-radius: 100%;
  width: 12px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 50px;
}

/* Hébergements et Populaires*/
#lodging_and_populars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 50px;
}
.blue {
  color: #0065fc;
}
.grey {
  color: #f2f2f2;
}
#lodging {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 24px;
  width: 66%;
}
#lodging h1 {
  width: 100%;
  margin-bottom: 10px;
  margin-left: 40px;
}
.figure_lodging {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  width: 235px;
  height: 220px;
}
.figure_lodging img {
  border-radius: 17px 17px 0 0;
  object-fit: cover;
  width: 235px;
  height: 114px;
}
.afficherplus {
  font-weight: bold;
  width: 100%;
  margin-left: 40px;
  margin-bottom: 30px;
}
#populars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 24px;
  width: 31%;
}
aside h1 {
  margin-left: 0;
}
.figure_populars {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  width: 344px;
  height: 144px;
}
.figure_populars img {
  border-radius: 17px 0 0 17px;
  object-fit: cover;
  width: 127px;
  height: 144px;
}
.figcaption_populars {
  margin-left: 10px;
}
.figure_lodging:hover,
.figure_populars:hover {
  transform: scale(1.05);
}
#pop_chart-line {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

/* Activités */
#acti {
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 50px;
}
#activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10px;
}
.figure_activities_port_calanques {
  display: block;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #f2f2f2;
}
.figure_double {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.figure_activities_pomegues {
  display: block;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #f2f2f2;
}
.figure_activities_frioul {
  display: block;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #f2f2f2;
}
.figure_activities_notredame {
  display: block;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #f2f2f2;
}
.figure_activities_longchamp {
  display: block;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #f2f2f2;
}
.figure_activities_port_calanques img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 300px;
  height: 389px;
}
.figure_activities_pomegues img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 300px;
  height: 180px;
}
.figure_activities_frioul img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 300px;
  height: 110px;
}
.figure_activities_notredame img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 300px;
  height: 139px;
}
.figure_activities_longchamp img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 300px;
  height: 153px;
}
.figure_activities_port_calanques:hover,
.figure_activities_pomegues:hover,
.figure_activities_frioul:hover,
.figure_activities_notredame:hover,
.figure_activities_longchamp:hover {
  transform: scale(1.05);
}
.figcaption_activities {
  margin-left: 20px;
  padding-bottom: 5px;
}

/* Footer */
footer {
  display: flex;
  background-color: #f2f2f2;
  padding: 50px;
  align-items: baseline;
  margin: 0;
  line-height: 1.5rem;
  margin-top: 50px;
}
ul {
  list-style-type: none;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
#about,
#housing,
#assistance {
  width: 33%;
}

/* Liens */
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
